<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Ferme des tilleuls | Formulaire de commande</title>
    <meta name="description" content="Formulaire de commande">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="static/css/milligram.min.css">
</head>

<body>
    <section id="order" class="container">
        <h1> Chargement .... </h1>
    </section>
</body>

</html>